<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Restaurant.io Homepage</h1>

<p><a href="listAddressRestaurant">#1: List all the address of the restaurant (e.g. address of McDonald's)</a></p>
<p><a href="listRestaurantStarAroundMe">#2: List restaurants higher than the given rating and around me</a></p>
<p><a href="listRestaurantAroundMeAndOpen">#3: How many and what restaurants around me opened now</a></p>
<p><a href="listRestaurantCostAroundMe">#4: List restaurants below the given cost and around me</a></p>
<p><a href="listRestaurantAroundSubway">#5: List the restaurants nearby the subway station (e.g. 110 & Broadway)</a></p>

</body>


</html>
