<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>The restaurants around me with the given rating</h1>
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="index">Go to home page</a></p>
<form method="POST" action="/doListRestaurantStarAroundMe">
  <p>Uid:<br>
      <input type="text" name="uid"> <br>
    Rating:<br>
      <input type="text" name="rating"> <br>
    <input type="submit" value="Enter">
  </p>
</form>

</body>


</html>
