<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
</script>

<script type = "text/javascript">
function input(name){
  document.getElementById("result").value=name;}
</script>

<body>
  <h1>The address of this restaurant</h1>
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="index">Go to home page</a></p>

<form method="POST" action="/doListAddressRestaurant">
  <p>
      Please choose or enter the name of restaurant:<br>
        <input type="button" value="Sweetgreen" name="1" onclick="input(this.value)"> 
        <input type="button" value="Chipotle" name="2" onclick="input(this.value)">  
        <input type="button" value="Pisticci" name="3" onclick="input(this.value)"> 
        <input type="button" value="Five Guys" name="4" onclick="input(this.value)">
        <input type="button" value="Kitaro Sushi" name="5" onclick="input(this.value)"> 
        <input type="button" value="Thai Market" name="6" onclick="input(this.value)">
        <input type="button" value="Bella Luna" name="7" onclick="input(this.value)"> 
        <input type="button" value="Koko Wings" name="8" onclick="input(this.value)">
        <input type="button" value="Mel’s Burger Bar" name="9" onclick="input(this.value)"> 
        <input type="button" value="Tom’s" name="10" onclick="input(this.value)"> <br> 
        <input type="text" name="restaurant" id="result"> <br> <br>
        <input type="submit" value="Enter" style="width:100px; height:50px;">
    </form>

</body>

</html>
